body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2, h3 {
    text-align: center;
    color: #333;
}

#metrosCuadrados, #calcularBtn, #verCarritoBtn {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
